DigitalSignageUI/Service References/LiveVideosServices/liveVideos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14985/Services/liveVideos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
  <xs:import schemaLocation="http://localhost:14985/Services/liveVideos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" />
  <xs:element name="addLiveVideo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="videos" nillable="true" type="q1:LiveTVInfoWTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLiveVideoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="addLiveVideoResult" nillable="true" type="q2:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>