DigitalSignageUI/Service References/LiveVideosServices/liveVideos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LiveTVInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content_ad_id" type="xs:long" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="interval" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiveTVInfoWTO" nillable="true" type="tns:LiveTVInfoWTO" />
</xs:schema>