DigitalSignageUI/Service References/AlarmsServices/alarms1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14985/Services/alarms.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" />
  <xs:import schemaLocation="http://localhost:14985/Services/alarms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
  <xs:element name="deleteAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="deleteAlarmResult" nillable="true" type="q1:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="alarms" nillable="true" type="q2:AlarmsInfoWTO" />
        <xs:element minOccurs="0" name="tv_ids" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="saveAlarmResult" nillable="true" type="q3:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDataOnAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="filter" nillable="true" type="q4:AlarmsInfoWTO" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="paging" nillable="true" type="q5:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDataOnAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="searchDataOnAlarmsResult" nillable="true" type="q6:ResultMessageOfArrayOfAlarmsInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadTvAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tvId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadTvAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="loadTvAlarmsResult" nillable="true" type="q7:ResultMessageOfArrayOfAlarmsInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>