DigitalSignageUI/Service References/AlarmsServices/alarms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="alarms" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14985/Services/alarms.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14985/Services/alarms.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14985/Services/alarms.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" />
      <xsd:import schemaLocation="http://localhost:14985/Services/alarms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Ialarms_deleteAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAlarm" />
  </wsdl:message>
  <wsdl:message name="Ialarms_deleteAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="Ialarms_saveAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:saveAlarm" />
  </wsdl:message>
  <wsdl:message name="Ialarms_saveAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="Ialarms_searchDataOnAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:searchDataOnAlarms" />
  </wsdl:message>
  <wsdl:message name="Ialarms_searchDataOnAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchDataOnAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="Ialarms_loadTvAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:loadTvAlarms" />
  </wsdl:message>
  <wsdl:message name="Ialarms_loadTvAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:loadTvAlarmsResponse" />
  </wsdl:message>
  <wsdl:portType name="Ialarms">
    <wsdl:operation name="deleteAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/Ialarms/deleteAlarm" message="tns:Ialarms_deleteAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ialarms/deleteAlarmResponse" message="tns:Ialarms_deleteAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/Ialarms/saveAlarm" message="tns:Ialarms_saveAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ialarms/saveAlarmResponse" message="tns:Ialarms_saveAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchDataOnAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/Ialarms/searchDataOnAlarms" message="tns:Ialarms_searchDataOnAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ialarms/searchDataOnAlarmsResponse" message="tns:Ialarms_searchDataOnAlarms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loadTvAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/Ialarms/loadTvAlarms" message="tns:Ialarms_loadTvAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Ialarms/loadTvAlarmsResponse" message="tns:Ialarms_loadTvAlarms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Ialarms" type="tns:Ialarms">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteAlarm">
      <soap:operation soapAction="http://tempuri.org/Ialarms/deleteAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveAlarm">
      <soap:operation soapAction="http://tempuri.org/Ialarms/saveAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchDataOnAlarms">
      <soap:operation soapAction="http://tempuri.org/Ialarms/searchDataOnAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loadTvAlarms">
      <soap:operation soapAction="http://tempuri.org/Ialarms/loadTvAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="alarms">
    <wsdl:port name="BasicHttpBinding_Ialarms" binding="tns:BasicHttpBinding_Ialarms">
      <soap:address location="http://localhost:14985/Services/alarms.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>