DigitalSignageUI/Service References/AlarmsServices/alarms.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlarmsInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmsInfoWTO" nillable="true" type="tns:AlarmsInfoWTO" />
  <xs:complexType name="PagingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderLst" nillable="true" type="tns:ArrayOfOrderInfo" />
      <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingInfo" nillable="true" type="tns:PagingInfo" />
  <xs:complexType name="ArrayOfOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderInfo" nillable="true" type="tns:OrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderInfo" nillable="true" type="tns:ArrayOfOrderInfo" />
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
  <xs:complexType name="ArrayOfAlarmsInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmsInfoWTO" nillable="true" type="tns:AlarmsInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmsInfoWTO" nillable="true" type="tns:ArrayOfAlarmsInfoWTO" />
</xs:schema>