DigitalSignageUI/Service References/AlarmsServices/alarms3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14985/Services/alarms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
  <xs:complexType name="ResultMessageOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" name="resultSet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfstring" nillable="true" type="tns:ResultMessageOfstring" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="callback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="redirectUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:Result.state" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:simpleType name="Result.state">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error" />
      <xs:enumeration value="success" />
      <xs:enumeration value="warning" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Result.state" nillable="true" type="tns:Result.state" />
  <xs:complexType name="ResultMessageOfArrayOfAlarmsInfoWTONurSmnnE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAlarmsInfoWTO" Namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="resultSet" nillable="true" type="q1:ArrayOfAlarmsInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfArrayOfAlarmsInfoWTONurSmnnE" nillable="true" type="tns:ResultMessageOfArrayOfAlarmsInfoWTONurSmnnE" />
</xs:schema>