DigitalSignageUI/Service References/ContentsServices/contents2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14985/Services/contents.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" />
  <xs:import schemaLocation="http://localhost:14985/Services/contents.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
  <xs:element name="getNewContentId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewContentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="getNewContentIdResult" nillable="true" type="q1:ResultMessageOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="contentInfo" nillable="true" type="q2:ContentInfoWTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="addContentResult" nillable="true" type="q3:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContentOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="contentOptionInfo" nillable="true" type="q4:ContentOptionInfoWTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContentOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="editContentOptionResult" nillable="true" type="q5:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContentOptionLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="contentOptionInfo" nillable="true" type="q6:ContentOptionInfoWTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContentOptionLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="editContentOptionLiveResult" nillable="true" type="q7:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="deleteContentsResult" nillable="true" type="q8:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContentAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="contentOptionInfo" nillable="true" type="q9:ContentOptionInfoWTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editContentAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="editContentAdsResult" nillable="true" type="q10:ResultMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchContentsWithAdsItemDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchContentsWithAdsItemDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="searchContentsWithAdsItemDetailResult" nillable="true" type="q11:ResultMessageOfArrayOfAdsInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadContentsWithAdsItemDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadContentsWithAdsItemDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="loadContentsWithAdsItemDetailResult" nillable="true" type="q12:ResultMessageOfArrayOfAdsInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLiveContentsAds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadLiveContentsAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="loadLiveContentsAdsResult" nillable="true" type="q13:ResultMessageOfArrayOfLiveTVInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="filter" nillable="true" type="q14:ContentInfoWTO" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="paging" nillable="true" type="q15:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="getContentListResult" nillable="true" type="q16:ResultMessageOfArrayOfContentInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDataContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="filter" nillable="true" type="q17:ContentInfoWTO" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="paging" nillable="true" type="q18:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDataContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="searchDataContentResult" nillable="true" type="q19:ResultMessageOfArrayOfContentInfoWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDataContentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="filter" nillable="true" type="q20:ContentTypeWTO" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="paging" nillable="true" type="q21:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDataContentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" minOccurs="0" name="searchDataContentTypeResult" nillable="true" type="q22:ResultMessageOfArrayOfContentTypeWTONurSmnnE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>