DigitalSignageUI/Service References/ContentsServices/contents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14985/Services/contents.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
  <xs:complexType name="ResultMessageOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" name="resultSet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfint" nillable="true" type="tns:ResultMessageOfint" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="callback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="redirectUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:Result.state" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:simpleType name="Result.state">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error" />
      <xs:enumeration value="success" />
      <xs:enumeration value="warning" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Result.state" nillable="true" type="tns:Result.state" />
  <xs:complexType name="ResultMessageOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element minOccurs="0" name="resultSet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfstring" nillable="true" type="tns:ResultMessageOfstring" />
  <xs:complexType name="ResultMessageOfArrayOfAdsInfoWTONurSmnnE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAdsInfoWTO" Namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="resultSet" nillable="true" type="q1:ArrayOfAdsInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfArrayOfAdsInfoWTONurSmnnE" nillable="true" type="tns:ResultMessageOfArrayOfAdsInfoWTONurSmnnE" />
  <xs:complexType name="ResultMessageOfArrayOfLiveTVInfoWTONurSmnnE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfLiveTVInfoWTO" Namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="resultSet" nillable="true" type="q2:ArrayOfLiveTVInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfArrayOfLiveTVInfoWTONurSmnnE" nillable="true" type="tns:ResultMessageOfArrayOfLiveTVInfoWTONurSmnnE" />
  <xs:complexType name="ResultMessageOfArrayOfContentInfoWTONurSmnnE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfContentInfoWTO" Namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="resultSet" nillable="true" type="q3:ArrayOfContentInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfArrayOfContentInfoWTONurSmnnE" nillable="true" type="tns:ResultMessageOfArrayOfContentInfoWTONurSmnnE" />
  <xs:complexType name="ResultMessageOfArrayOfContentTypeWTONurSmnnE">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfContentTypeWTO" Namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="result" nillable="true" type="tns:Result" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DigitalServices.Model" minOccurs="0" name="resultSet" nillable="true" type="q4:ArrayOfContentTypeWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfArrayOfContentTypeWTONurSmnnE" nillable="true" type="tns:ResultMessageOfArrayOfContentTypeWTONurSmnnE" />
</xs:schema>