DigitalSignageUI/Service References/ContentsServices/contents3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContentInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ad_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content_id" type="xs:long" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" type="xs:int" />
      <xs:element minOccurs="0" name="endTime" type="xs:int" />
      <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="lastViewed" type="xs:long" />
      <xs:element minOccurs="0" name="startTime" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tv_id" type="xs:long" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentInfoWTO" nillable="true" type="tns:ContentInfoWTO" />
  <xs:complexType name="ContentOptionInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ad_id" type="xs:long" />
      <xs:element minOccurs="0" name="content_id" type="xs:long" />
      <xs:element minOccurs="0" name="createDateTime" type="xs:long" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="interval" type="xs:int" />
      <xs:element minOccurs="0" name="live_id" type="xs:long" />
      <xs:element minOccurs="0" name="position" type="xs:int" />
      <xs:element minOccurs="0" name="second" type="xs:int" />
      <xs:element minOccurs="0" name="secondViewed" type="xs:int" />
      <xs:element minOccurs="0" name="shuffle" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentOptionInfoWTO" nillable="true" type="tns:ContentOptionInfoWTO" />
  <xs:complexType name="ArrayOfAdsInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdsInfoWTO" nillable="true" type="tns:AdsInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdsInfoWTO" nillable="true" type="tns:ArrayOfAdsInfoWTO" />
  <xs:complexType name="AdsInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="adItemDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adItemFeedTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adItemFeedUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adItemImageFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adItemTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adItemVedioFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content_ad_id" type="xs:long" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="interval" type="xs:int" />
      <xs:element minOccurs="0" name="itemList" nillable="true" type="tns:ArrayOfAdsIemInfoWTO" />
      <xs:element minOccurs="0" name="max_minutes" type="xs:int" />
      <xs:element minOccurs="0" name="passed_minutes" type="xs:int" />
      <xs:element minOccurs="0" name="position" type="xs:int" />
      <xs:element minOccurs="0" name="shuffle" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdsInfoWTO" nillable="true" type="tns:AdsInfoWTO" />
  <xs:complexType name="ArrayOfAdsIemInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdsIemInfoWTO" nillable="true" type="tns:AdsIemInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdsIemInfoWTO" nillable="true" type="tns:ArrayOfAdsIemInfoWTO" />
  <xs:complexType name="AdsIemInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ad_id" type="xs:long" />
      <xs:element minOccurs="0" name="datetime" type="xs:long" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="minutes" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdsIemInfoWTO" nillable="true" type="tns:AdsIemInfoWTO" />
  <xs:complexType name="ArrayOfLiveTVInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiveTVInfoWTO" nillable="true" type="tns:LiveTVInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLiveTVInfoWTO" nillable="true" type="tns:ArrayOfLiveTVInfoWTO" />
  <xs:complexType name="LiveTVInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content_ad_id" type="xs:long" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="interval" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiveTVInfoWTO" nillable="true" type="tns:LiveTVInfoWTO" />
  <xs:complexType name="PagingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderLst" nillable="true" type="tns:ArrayOfOrderInfo" />
      <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingInfo" nillable="true" type="tns:PagingInfo" />
  <xs:complexType name="ArrayOfOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderInfo" nillable="true" type="tns:OrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderInfo" nillable="true" type="tns:ArrayOfOrderInfo" />
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
  <xs:complexType name="ArrayOfContentInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentInfoWTO" nillable="true" type="tns:ContentInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentInfoWTO" nillable="true" type="tns:ArrayOfContentInfoWTO" />
  <xs:complexType name="ContentTypeWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContentTypeWTO" nillable="true" type="tns:ContentTypeWTO" />
  <xs:complexType name="ArrayOfContentTypeWTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContentTypeWTO" nillable="true" type="tns:ContentTypeWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContentTypeWTO" nillable="true" type="tns:ArrayOfContentTypeWTO" />
</xs:schema>