DigitalSignageUI/Service References/StoresServices/stores1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigitalServices.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StoresInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="category_id" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endWorkTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="map_id" type="xs:int" />
      <xs:element minOccurs="0" name="phone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startWorkTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="unit" type="xs:int" />
      <xs:element minOccurs="0" name="workingDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoresInfoWTO" nillable="true" type="tns:StoresInfoWTO" />
  <xs:complexType name="PagingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderLst" nillable="true" type="tns:ArrayOfOrderInfo" />
      <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingInfo" nillable="true" type="tns:PagingInfo" />
  <xs:complexType name="ArrayOfOrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderInfo" nillable="true" type="tns:OrderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderInfo" nillable="true" type="tns:ArrayOfOrderInfo" />
  <xs:complexType name="OrderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfo" nillable="true" type="tns:OrderInfo" />
  <xs:complexType name="ArrayOfStoresInfoWTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoresInfoWTO" nillable="true" type="tns:StoresInfoWTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoresInfoWTO" nillable="true" type="tns:ArrayOfStoresInfoWTO" />
</xs:schema>