DigitalSignageUI/Service References/StoresServices/stores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="stores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14985/Services/stores.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14985/Services/stores.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:14985/Services/stores.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DigitalServices.Model" />
      <xsd:import schemaLocation="http://localhost:14985/Services/stores.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Aryaban.Engine.Core.WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Istores_addStore_InputMessage">
    <wsdl:part name="parameters" element="tns:addStore" />
  </wsdl:message>
  <wsdl:message name="Istores_addStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStoreResponse" />
  </wsdl:message>
  <wsdl:message name="Istores_editStore_InputMessage">
    <wsdl:part name="parameters" element="tns:editStore" />
  </wsdl:message>
  <wsdl:message name="Istores_editStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:editStoreResponse" />
  </wsdl:message>
  <wsdl:message name="Istores_deleteStore_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteStore" />
  </wsdl:message>
  <wsdl:message name="Istores_deleteStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteStoreResponse" />
  </wsdl:message>
  <wsdl:message name="Istores_searchDataOnStores_InputMessage">
    <wsdl:part name="parameters" element="tns:searchDataOnStores" />
  </wsdl:message>
  <wsdl:message name="Istores_searchDataOnStores_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchDataOnStoresResponse" />
  </wsdl:message>
  <wsdl:portType name="Istores">
    <wsdl:operation name="addStore">
      <wsdl:input wsaw:Action="http://tempuri.org/Istores/addStore" message="tns:Istores_addStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Istores/addStoreResponse" message="tns:Istores_addStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editStore">
      <wsdl:input wsaw:Action="http://tempuri.org/Istores/editStore" message="tns:Istores_editStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Istores/editStoreResponse" message="tns:Istores_editStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteStore">
      <wsdl:input wsaw:Action="http://tempuri.org/Istores/deleteStore" message="tns:Istores_deleteStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Istores/deleteStoreResponse" message="tns:Istores_deleteStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchDataOnStores">
      <wsdl:input wsaw:Action="http://tempuri.org/Istores/searchDataOnStores" message="tns:Istores_searchDataOnStores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Istores/searchDataOnStoresResponse" message="tns:Istores_searchDataOnStores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Istores" type="tns:Istores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addStore">
      <soap:operation soapAction="http://tempuri.org/Istores/addStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editStore">
      <soap:operation soapAction="http://tempuri.org/Istores/editStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStore">
      <soap:operation soapAction="http://tempuri.org/Istores/deleteStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchDataOnStores">
      <soap:operation soapAction="http://tempuri.org/Istores/searchDataOnStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="stores">
    <wsdl:port name="BasicHttpBinding_Istores" binding="tns:BasicHttpBinding_Istores">
      <soap:address location="http://localhost:14985/Services/stores.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>